<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tehtava8ViiniasiakkaatFrom8.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Tehtava8ViiniasiakkaatFrom8.Properties.Settings>
            <setting name="DataSource" serializeAs="String">
                <value>Data source = eight.labranet.jamk.fi; initial catalog = Viini; user = koodari; password = koodari13</value>
            </setting>
        </Tehtava8ViiniasiakkaatFrom8.Properties.Settings>
    </userSettings>
</configuration>